<h3>Dear {{ email }},</h3>

<p>This is an alert to let you know that you have just booked an event on <b>{{ month }}/{{ day }}/{{ year }}</b>.</p>

<p>The information is as follows:</p>

<p><h5>Event Title:</h5> {{ title }}</p>
<p><h5>Event Notes:</h5> {{ notes }}</p>

<p>If you did not create an event with us, please contact us immediately or click on the link below:</p>

<p>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Click Here</a>
</p>

<p>Sincerely,</p>
<h4>Coding Temple</h4>
